:root {
  --font-color: #333;

  --primary-color: #ffcc66;
  --second-color: #f8cd77;
  --white-color: #fff;
  --black-color: #000;

  --app-width: 800px;
  --indent: 20px;

  --border-radius: 10px;
}
