.TaskItem {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #333;
  width: 100%;

  align-items: center;
}

.contentBlock {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;

  text-align: left;
  align-items: center;
  p {
    max-width: 100%;
    width: 100%;
    word-wrap: wrap;
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}

.btnBlock {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  min-width: fit-content;
}

.Numbering {
  font-size: 20px;
}
